@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*--primary-color: #3f3cbb;*/
    --primary-color: #21335B;
    --primary-text-color: #3498db;
    --secondary-text-color: #77838f;
    --border-color: #e5e7eb;
}
html, body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: .875rem;
    color: #1e2022;
    line-height: 1.5;
}

.hr-space {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    opacity: 0.75;
    width: 100%;
}